<!doctype html>
<head><title>GreenStyle</title>
    <meta charset=utf-8>
    <style>
        body{
          background-image: url("https://i.ibb.co/QQTFJLd/homepage.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
    </style>
</head>
    <body>
        <h1>Welcome to GreenStyle!</h1>
        <h3>Submit an image of an item of clothing below to get started.</h3>
        <form enctype = "multipart/form-data" action = "/home/" method = "post">
        <p> Upload File: <input type = "file" name = "file" /></p>
        <p> Enter Store: <input type = "text" name = "text"/></p>
        <p><input type = "submit" value = "Upload" />
        </form>
    </body>