<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Page</title>
</head>
<body>

    <h3>Here are some recommendations for similar <i>{{item}}</i>: </h3>

    <p><i>{{store1}}</i></p>
    <a href={{link1}}>{{name1}}</a> <br />
    <img src=https://cdn.shopify.com/s/files/1/2380/6877/products/A011_Embroidery2_900x.jpg style="width:300px">

    <p><i>{{store2}}</i></p>
    <a href={{link2}}>{{name2}}</a> <br />
    <img src=https://cdn.shopify.com/s/files/1/0025/4099/4627/products/DSC_3376_250x.jpg style="width:300px"> </br> </br>

    <form action = "/" method = "post">
        <button name = "return" type = "submit">Homepage</button>
    </form>
</body>
</html>